body {
    background-color: #fffbf7;
}

#titulo {
    color: #025157;
}

.textoParrafo {
    color: #46484c;
}

strong {
    color: #8b8b8bcc;
}

form button {
    color: #fff;
    background-color: #025157;
}