/*Header*/

.colVer {
    color: #025157;
}

.buttonNav {
    background-color: #025157;
    color: white;
    font-weight: 500;
}

nav {
    margin-top: 20px;
}


/*Main*/

.main>div>h1 {
    color: #025157;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
}

.main>div>p {
    font-weight: 400;
    color: #46484c;
    font-size: 25px;
}

.main>div>button {
    background-color: #67b54b;
    color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 10px 24px;
    border: 1px solid #67b54b;
    margin-top: 10px;
    font-size: 25px;
}

.banner {
    margin: 30px 50px 30px 50px;
}

.text-banner {
    font-size: 15px;
    color: #8b8b8bCC;
    font-weight: 400;
    margin-bottom: 30px;
}

.main>div>video {
    width: 100%;
    margin-top: 20px;
}


/*Brands*/

.brands-text {
    text-transform: uppercase;
    color: #4a4a4a;
    font-weight: 100;
    font-size: 15px;
}

.brands {
    margin-bottom: 200px;
    text-align: center;
}

.brands>img {
    margin: 20px;
}


/*Features*/

.features {
    margin-bottom: 200px;
}

.title-features>div>h2 {
    color: #025157;
    font-weight: 600;
    font-size: 35px;
}

.title-features>div>p {
    color: #4a4a4a;
    font-size: 20px;
}

.feature-content img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .06);
}

.feature-content h3 {
    font-size: 30px;
    color: #343434;
}

.feature-content p {
    font-size: 20px;
    color: #7E7E7E;
    font-weight: 400;
    margin-bottom: 30px;
}


/*Tools*/

.container-tools {
    margin-bottom: 100px;
}

.text-container-tools {
    color: #025157;
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 30px;
}

.item-tool {
    padding: 40px 18px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    width: 90%;
    border-radius: 4px;
    border: 1px solid #dadada;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, .06);
}

.item-tool img {
    margin-bottom: 20px;
}

.item-tool h3 {
    color: #343434;
    font-size: 25px;
    font-weight: 500;
}

.item-tool p {
    color: #7e7e7e;
    font-size: 20px;
    font-weight: 500;
}


/*Carrusel*/

.carrusel {
    margin-bottom: 200px;
}

.text-card>h5 {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #025157;
    text-align: start;
}

.text-card>p {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #000;
    text-align: start;
    margin-bottom: 20px;
}

.text-card>div>div>p {
    color: #828282;
}

.text-card>a {
    width: 100%;
}

.info-matcha>h2 {
    font-size: 38px;
    color: #025157;
}

.info-matcha>p {
    color: #4a4a4a;
    font-size: 30px;
}


/*Footer*/

footer {
    padding-bottom: 60px;
    background-color: #fffbf7;
    padding-top: 30px;
}

.lists-footer {
    margin-bottom: 60px;
}

.list-footer>p {
    color: #4a4a4a;
    font-weight: 400;
    line-height: 25px;
    font-size: 19px;
}

.btn-subscribe>input {
    height: 48px;
    width: auto;
    border: 1px solid black;
    border-radius: 5px 0 0 5px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    padding-left: 15px;
}

.btn-subscribe>button {
    height: 48px;
    width: auto;
    border: 0;
    color: white;
    border-radius: 0 5px 5px 0;
    font-size: 14px;
    font-weight: 400;
    background-color: #025157;
    cursor: pointer;
}

.btn-subscribe>button:hover {
    background-color: #6abf4b;
}

.list-footer>ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

.list-footer>ul>li {
    font-weight: 400;
    font-size: 19px;
    color: #4a4a4a;
    margin-bottom: 16px;
}

.list-footer>h3 {
    font-weight: 500;
    line-height: 17px;
    font-size: 20px;
    color: #025157;
    margin-bottom: 20px;
    margin-top: 50px;
}

.logo-footer {
    width: 141;
    height: auto;
}

.copyright {
    color: #4a4a4a;
    font-size: 14px;
    margin-top: 30px;
}


/** dispositivos móviles en vista viewport (vertical) */

@media (max-width: 575px) {
    .navbar {
        font-size: 30px;
    }
    .banner>img {
        width: 100%;
    }
}


/** dispositivos pequeños en vista landscape (horizontal) */

@media (min-width: 576px) and (max-width: 767px) {
    /*Header*/
    .navbar {
        font-size: 30px;
    }
    /*Main*/
    .main>div>h1 {
        font-weight: 900;
        font-size: 60px;
    }
    /*Features*/
    .title-features>div>h2 {
        font-weight: 700;
        font-size: 40px;
    }
    /*Tools*/
    .text-container-tools {
        font-weight: 700;
        font-size: 40px;
    }
    /*Carrusel*/
    .info-matcha>h2 {
        font-weight: 700;
    }
    /*Footer*/
    .list-footer>p {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/** dispositivos medianos (tablets) */

@media (min-width: 768px) and (max-width: 991px) {
    /*Header*/
    .navbar {
        font-size: 30px;
    }
    /*Main*/
    .main>div>h1 {
        font-weight: 900;
        font-size: 60px;
    }
    /*Features*/
    .title-features>div>h2 {
        font-weight: 700;
        font-size: 30px;
    }
    .feature-content>h3 {
        font-size: 25px;
    }
    /*Tools*/
    .text-container-tools {
        font-weight: 400;
        font-size: 35px;
    }
    /*Carrusel*/
    .info-matcha>h2 {
        font-weight: 500;
        font-size: 30px;
        padding-top: -20px;
    }
    .info-matcha>p {
        font-size: 25px;
    }
    /*Footer*/
    .list-footer>p {
        padding-left: 20px;
        padding-right: 20px;
    }
}


/** dispositivos grandes (desktops) */

@media (min-width: 992px) and (max-width: 1199px) {
    /*Header*/
    /*Main*/
    .main {
        text-align: left;
    }
    .main>div>h1 {
        font-size: 35px;
    }
    .main>div>p {
        font-size: 20px;
        font-weight: 100;
    }
    .main>div>button {
        width: 160px;
        font-size: 18px;
    }
    .banner {
        display: inline;
        margin: 0 0 0 20px;
    }
    .text-banner {
        font-size: 15px !important;
        color: #8B8B8B;
    }
    /*Brands*/
    /*Features*/
    /*Tools*/
    /*Footer*/
    .redes-sociales {
        justify-content: left !important;
    }
    .logo-footer {
        padding: 0;
        margin: 0;
    }
}


/** dispositivos extra grandes (monitores grandes, tvs) */

@media (min-width: 1200px) {
    /*Header*/
    /*Main*/
    .main {
        text-align: left;
    }
    .main>div>h1 {
        font-size: 35px;
    }
    .main>div>p {
        font-size: 20px;
        font-weight: 100;
    }
    .main>div>button {
        width: 160px;
        font-size: 18px;
    }
    .banner {
        display: inline;
        margin: 0 0 0 20px;
    }
    .text-banner {
        font-size: 15px !important;
        color: #8B8B8B;
    }
    /*Brands*/
    /*Features*/
    /*Tools*/
    /*Footer*/
    .redes-sociales {
        justify-content: left !important;
    }
    .logo-footer {
        padding: 0;
        margin: 0;
    }
}